Build results
bin/
obj/
out/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.exe
*.dll
*.pdb
*.app
*.log

User-specific files
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

Visual Studio
.vs/

Rider
.idea/

Package management
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json

Dotnet-specific
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json
*.csproj.user

Entity Framework Migrations (optional: uncomment if needed)
Migrations/
Secrets
secrets.json
appsettings.Development.json
appsettings.Local.json

Logs
.log
logs/

OS-specific
.DS_Store
Thumbs.db

Docker
**/docker-compose.yml
docker-compose.override.yml
.dockerignore

Others
.env
*.sqlite
*.db
*.bak
*.cache